@media (min-width:700px){
    *{
    margin: 0;
    padding: 0;
    }
}

#fondo {
    width: 100%;
    height: 100vh;
    background: grey;   
}

header {
    height: 13%;
    background: #E8F1F2;
    border-radius: 1em;
    margin: 0.5em;
    padding: 0.5em;
}

#linea1{
    height: 12%;
    border-radius: 1em;
    margin: 0.5em;
    padding: 0.5em;
}

#b1 {
    height: 100%;
    width: 45%;
    border-radius: 1em;
    margin: 0.5em;
    float: left;
    font-size: 2em;
    background: rgb(57, 57, 255);
}

#b2 {
    height: 100%;
    width: 45%;
    border-radius: 1em;
    margin: 0.5em;
    float: right;
    font-size: 2em;
    background: rgb(57, 57, 255);
}

#linea2{
    height: 12%;
    border-radius: 1em;
    margin: 0.5em;
    padding: 0.5em;
}

#b3 {
    height: 100%;
    width: 30%;
    border-radius: 1em;
    margin: 0.5em;
    font-size: 2em;
    background: rgb(57, 57, 255);
}

#b4 {
    height: 100%;
    width: 30%;
    border-radius: 1em;
    margin: 0.5em;
    font-size: 2em;
    background: rgb(57, 57, 255);
}

#b5 {
    height: 100%;
    width: 30%;
    border-radius: 1em;
    margin: 0.5em;
    font-size: 2em;
    background: rgb(57, 57, 255);
}

#linea3 {
    height: 12%;
    border-radius: 1em;
    margin: 0.5em;
    padding: 0.5em;
}

#b6 {
    height: 100%;
    width: 100%;
    border-radius: 1em;
    margin: 0.5em;
    font-size: 2em;
    background: rgb(57, 57, 255);
}

#linea4 {
    height: 12%;
    border-radius: 1em;
    margin: 0.5em;
    padding: 0.5em;
}

#b7 {
    height: 100%;
    width: 45%;
    border-radius: 1em;
    margin: 0.5em;
    font-size: 2em;
    float: left;
    background: rgb(57, 57, 255);
}

#b8 {
    height: 100%;
    width: 45%;
    border-radius: 1em;
    margin: 0.5em;
    float: right;
    font-size: 2em;
    background: rgb(57, 57, 255);
}

#linea5 {
    height: 12%;
    border-radius: 1em;
    margin: 0.5em;
    padding: 0.5em;
}

#b9 {
    height: 100%;
    width: 45%;
    border-radius: 1em;
    margin: 0.5em;    
    float: left;
    font-size: 2em;
    background: rgb(57, 57, 255);
}

#b10 {
    height: 100%;
    width: 45%;
    border-radius: 1em;
    margin: 0.5em;    
    float: right;
    font-size: 2em;
    background: rgb(57, 57, 255);
}

@media (max-width:699px){
    *{
    margin: 0;
    padding: 0;
    }
}    

#fondo {
    width: 100%;
    height: 100vh;
    background: grey;   
}

header {
    height: 16%;
    background: #E8F1F2;
    border-radius: 1em;
    margin: 0.5em;
    padding: 0.5em;
}

#linea1{
    height: 12%;
    border-radius: 1em;
    margin: 0.5em;
    padding: 0.5em;
}

#b1 {
    height: 100%;
    width: 45%;
    border-radius: 1em;
    margin: 0.5em;
    float: left;
    font-size: 2em;
    background: rgb(57, 57, 255);
}

#b2 {
    height: 100%;
    width: 45%;
    border-radius: 1em;
    margin: 0.5em;
    float: right;
    font-size: 2em;
    background: rgb(57, 57, 255);
}

#linea2{
    height: 12%;
    border-radius: 1em;
    margin: 0.5em;
    padding: 0.5em;
}

#b3 {
    height: 100%;
    width: 30%;
    border-radius: 1em;
    margin: 0.5em;
    font-size: 2em;
    background: rgb(57, 57, 255);
}

#b4 {
    height: 100%;
    width: 30%;
    border-radius: 1em;
    margin: 0.5em;
    font-size: 2em;
    background: rgb(57, 57, 255);
}

#b5 {
    height: 100%;
    width: 30%;
    border-radius: 1em;
    margin: 0.5em;
    font-size: 2em;
    background: rgb(57, 57, 255);
}

#linea3 {
    height: 12%;
    border-radius: 1em;
    margin: 0.5em;
    padding: 0.5em;
}

#b6 {
    height: 100%;
    width: 100%;
    border-radius: 1em;
    margin: 0.5em;
    font-size: 2em;
    background: rgb(57, 57, 255);
}

#linea4 {
    height: 12%;
    border-radius: 1em;
    margin: 0.5em;
    padding: 0.5em;
}

#b7 {
    height: 100%;
    width: 45%;
    border-radius: 1em;
    margin: 0.5em;
    font-size: 2em;
    float: left;
    background: rgb(57, 57, 255);
}

#b8 {
    height: 100%;
    width: 45%;
    border-radius: 1em;
    margin: 0.5em;
    float: right;
    font-size: 2em;
    background: rgb(57, 57, 255);
}

#linea5 {
    height: 12%;
    border-radius: 1em;
    margin: 0.5em;
    padding: 0.5em;
}

#b9 {
    height: 100%;
    width: 45%;
    border-radius: 1em;
    margin: 0.5em;    
    float: left;
    font-size: 2em;
    background: rgb(57, 57, 255);
}

#b10 {
    height: 100%;
    width: 45%;
    border-radius: 1em;
    margin: 0.5em;    
    float: right;
    font-size: 2em;
    background: rgb(57, 57, 255);
}
